<h2>User Infoooo</h2>
<%= form_with model:@users , local:true do |f| %>
<p>Name</p>
<%= f.text_field :name%>
<p>introduction</p>
<%= f.text_area :introduction %>
<%= f.submit "Update Book" %>
<% end %>
