<%= render partial: 'users/list', locals: { book: @book, user: @user } %>

<div class="col-md-7">
<% @books.each do |book| %>
<tr>
<th><%= link_to book.title, book_path(book.id) %></th>
<th><%= book.body %></th>
</tr><br>
<% end %>
</div>