<%= render partial: 'users/list', locals: { book: @book } %>

<h1>welcome to<i class="fas fa-book">Bookers</i>!!</h1>
<p>In <i class="fas fa-book">Bookers</i>,</p>
<p>you can share and exchange your opinions , inpressions , and emotions</p>
<p>about various books!</p>

<div class="btn">
<div class="btn btn-info">
<%= link_to "Login" , new_user_session_path %>
</div>
<div class="btn btn-success">
<%= link_to "sign_up" , new_user_registration_path %>
</div>
</div>

