<%= notice %>
<%= alert %>
<div class="head">
    <div class="container">
        <div class="mx-auto col-11 col-sm-10 col-lg-8 col-xl-6">
            <h1>welcome to<i class="fas fa-book">Bookers</i>!!</h1>
                <p>In <i class="fas fa-book">Bookers</i>,</p>
                <p>you can share and exchange your opinions , inpressions , and emotions</p>
                <p>about various books!</p>
        </div>
    </div>
</div>

<div class="btn-wrapper col-5 mx-auto">
    <div class="btn btn-info btn-block btn-sm mb-3">
        <%= link_to "Log in" , new_user_session_path %>
    </div>
    <div class="btn btn-success btn-block btn-sm">
        <%= link_to "Sign Up" , new_user_registration_path %>
    </div>
</div>
