@import "bootstrap";

header {
    margin-bottom: 20px;
}

header a {
    color:white;
    padding:8px;
}

.link{
    font-size: 16px;
    padding: 8px;
}

span {
    font-size: 20px;
    padding: 0px 15px;
    margin: 0px 11.5px;
}
